*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:sans-serif;
}
.service{
	padding-top:3rem;
	
}
.ser-container{
	width:90%;
	margin:0 auto;
	
}
.ser-hp{
	text-align:center;
	position:relative;
}
.ser-hp p{
	padding-top:2rem;
	color:grey;
}
.ser-hp h1::after{
	position:absolute;
	content:"";
	height:2px;
	width:35px;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:red;
}
.ser-row{
	display:flex;

}
.ser-col{
	width:30%;
	padding-top:3rem;
}
.ser-col1{
	width:70%;
	padding-top:2rem;
}
.card{
	padding:20px;

}
.location{
	display:flex;
	gap:8%;
}
.icon i{
	color:red;
}
.ne{
	display:flex;
	
	gap:2%;
}
.ne input{
	width:40%;
	padding:20px;
}
.subject{
	padding-top:20px;
}
.subject input{
	padding:20px;
	width:82%;
}
.textarea{

	padding-top:20px;
}
.textarea textarea{
	width:82%;
	height:35%;
}
.con-butt{
	padding-top:3rem;
	text-align:center;
}
.con-butt a{
	text-decoration:none;
	color:white;
	background-color:red;
	border-radius:5px;
	padding:10px 25px;
}
.iframe {
	margin-top:30px;
}
.iframe iframe{
	width:100%;
	height:100%;
}
@media(min-width:320px){
		.ser-row{
	display:flex;
	flex-wrap:wrap;

}
.ser-col{
	width:100%;
	padding-top:3rem;
	
}
.ser-col1{
	width:100%;
	padding-top:2rem;
}

.ne{
	display:flex;
	flex-wrap:wrap;
	
	
	gap:2%;
}
.ne input{
	width:100%;
	padding:10px;
	margin-bottom:2rem;
}
.subject{
	padding-top:10px;
}
.subject input{
	padding:10px;
	width:100%;
}
.textarea{

	padding-top:20px;
}
.textarea textarea{
	width:100%;
	height:15%;
}

.ser-hp h1::after{
	position:absolute;
	content:"";
	height:2px;
	width:35px;
	margin:auto;
	top:0;
	bottom:100px;
	left:0;
	right:0;
	background-color:red;
}
}

@media(min-width:620px){
		.ser-row{
	display:flex;

}
.ser-col{
	width:30%;
	padding-top:3rem;
}
.ser-col1{
	width:70%;
	padding-top:2rem;
}

.ne{
	display:flex;
	
	gap:2%;
}
.ne input{
	width:40%;
	padding:20px;
}
.subject{
	padding-top:20px;
}
.subject input{
	padding:20px;
	width:82%;
}
.textarea{

	padding-top:20px;
}
.textarea textarea{
	width:82%;
	height:35%;
}
.ser-hp h1::after{
	position:absolute;
	content:"";
	height:2px;
	width:35px;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:red;
}
	
}

@media(min-width:1020px){
	.ser-row{
	display:flex;

}
.ser-col{
	width:30%;
	padding-top:3rem;
}
.ser-col1{
	width:70%;
	padding-top:2rem;
}

.ne{
	display:flex;
	
	gap:2%;
}
.ne input{
	width:40%;
	padding:20px;
}
.subject{
	padding-top:20px;
}
.subject input{
	padding:20px;
	width:82%;
}
.textarea{

	padding-top:20px;
}
.textarea textarea{
	width:82%;
	height:35%;
}
}



